<% provide(:title, 'About') %>
    <div class="container-narrow">
    	<%= render :partial => 'layouts/header', :locals => { :active => 'About' }  %>

		This site was developed by Adam Birnbaum.  You can contact him at birnbaum DOT adam AT gmail DOT com.
    	<%= render 'layouts/footer' %>
    	<!-- <br>
 

According to Chinese legend, Money Frog, or Chan Chu in Chinese, was the wife of one of the the Eight Immortals protecting against misfortune and bringing bigger enrichment in wealth.
    </div> -->