<% provide(:title, 'About') %>
    <div class="container-narrow">
    	<%= render :partial => 'layouts/header', :locals => { :active => 'About' }  %>

		<h3>How it works</h3><br/>
		<b>Adding payments</b><br/>
		Once you are signed up, simply setup your payment options (e.g. paypal, check in the mail), add a payment, and submit.  PayMonkee will take care of the rest, sending an initial email to let your friend know they owe you money, as well as sending a follow up email once a week until you are paid back.<br/><br/>
		<b>If you receive a PayMonkee payment request</b><br/>
		Rest assured that PayMonkee will help remind you of your payment.  Once you have paid back your friend, simply click the link in the email reminder that is sent to you and update your payment status to PAID.  We will notify your friend that you have paid back what you owe, and will stop sending you email reminders.<br/><br/>
		<h3>Our story</h3><br/>
		We started this site because we were frustrated with reminding friends to pay us back, and remembering to pay back friends.  We thought that there had to be a better way.  So we created PayMonkee to solve our problem, and hopefully help you out too!<br/><br/>
		<h3>Questions / feedback</h3><br>
		Questions or feedback?  We'd love to hear from you!  Send us an email at <%= mail_to "support@paymonkee.com"%>

    	<%= render 'layouts/footer' %>
    </div>