<% provide(:title, 'About') %>
    <div class="container-narrow">
    	<%= render :partial => 'layouts/header', :locals => { :active => 'About' }  %>

		This site was developed by Adam Birnbaum.  You can contact him at birnbaum DOT adam AT gmail DOT com.
    	<%= render 'layouts/footer' %>
    </div>