<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  
  <%= render partial: 'layouts/email_body', locals: { loaner_email: @all_payments.first.user.email, payment_frequency: '', mailer_type: 'consolidate_payments' } %>
  <br/>
  <%= render 'layouts/email_footer' %>
  
  </body>
</html>