<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  
  <%= render partial: 'layouts/email_body', locals: { pay_method: User.find(@all_payments.first.user_id).pay_method, pay_description: User.find(@all_payments.first.user_id).pay_description, email_instructions: User.find(@all_payments.first.user_id).email_instructions, payer_email: User.find(@all_payments.first.user_id).email, loaner_email: @all_payments.first.email, payment_frequency: '', mailer_type: 'consolidate_payments' } %>
  <br/>
  <%= render 'layouts/email_footer' %>
  
  </body>
</html>