<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  
  <%= render partial: 'layouts/email_body', locals: { payer_email: @payment.email, loaner_email: @current_user.email, payment_description: @payment.description, payment_amount: @payment.amount, payment_frequency: @payment.frequency, mailer_type: 'single_payment' } %>
  <br/>
  <%= render 'layouts/email_footer' %>
  
  </body>
</html>

