<p>Welcome <%= @email %>!</p>

<p>Thank you for registering for PayMonkee!  To complete the sign up process, please confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

	<%= render 'layouts/footer' %>
</div>