  <hr>
    <p>Get a free account at PayMonkee to get your friends to pay back money they owe you.  <%= link_to 'Sign up now!', new_user_registration_url %></p>
    <p>To unsubscribe from these messages, please send an email to support@paymonkee.com with your request.</p>